$textPrimary: #3476d2;
$textDanger: #d9534f;

$gradientPrimary: linear-gradient(120deg, #4cbaff, #6764ff, #9d00ff, #a04cff);
$gradientSecondary: linear-gradient(120deg, #ba4cff, #ff64be, #ff00e1, #a84cff);
$gradientTertiary: linear-gradient(120deg, #ffffff, #df7ab5, #00ddff, #4cdeff);