@import "./variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}

.text-none {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-block {
  display: block;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute__bottom {
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
}

.absolute__right {
  position: absolute;
  right: 2vh;
  top: 0;
  bottom: 0;
}

ul {
  list-style: none;
}

button:active {
  transition: all .1s ease-out;
  filter: brightness(1.5);
}
.fixed__centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.absolute__centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.reflections {
  will-change: background-position;
  background: linear-gradient(120deg, #202020 45%, #3b3b3b 5%, #202020 50%);
  background-repeat: no-repeat,;
  background-position: 99% center;
  background-size: 250% 200%;
  animation: reflection 0.5s ease-in;
  animation-iteration-count: 2;
  animation-delay: 2s;
    &:hover:not(.home) {
     background-position: 0% center;
  }
}

@keyframes reflection {
  0% {
    background-position: 100% center;
  }
  100% {
    
    background-position: 0% center;
  }
}

// Colors 

.black--text {
  color: black;
}
.white--text {
  color: white;
}

.danger--text {
  color: #ff5252;
}

.success--text {
  color: #00c853;
}

.vue--text {
    color: #41b883;
}

.vite--text {
    color: #8B73FE;
}

.pinia--text {
    color: #FFC107;
}
.text__gradient--primary {
  background: $gradientPrimary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text__gradient--secondary {
  background: $gradientSecondary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text__gradient--tertiary {
  background: $gradientTertiary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-primary {
  background: $gradientPrimary;
}

.card {
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 20px;
  color: #151515;
  height: 400px;
  width: 250px;

  &:hover {
    transform: scale(1.05);
  }
}

.card__badge {
  border-radius: 0px 10px 0px 10px;
  height: auto;
  padding: 10px;
  font-size: 13px;
  z-index: 9;
  color: white;
  font-weight: bold;
}

.card__title {
  min-height: 30px;
  position: absolute;
  bottom: 1vh;
  width: 80%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  border-block: 1px solid gray;
}

.card__image {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  padding-block: 2em;
  width: auto;
  margin-inline: 50px;
  height: auto;

  img {
    width: 100%;
    height: auto;
    max-height: auto;
  }
}

.card__body {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 3vh;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;

  h3 {
    color: $textPrimary;
  }
}

.category__primary {
  background: #4e53e0;
}
.category__secondary {
  background: #e2239f;
}
.category__tertiary {
  background: #d89e29;
}
.category__quaternary {
  background: #da4343;
}

.fadeIn {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}